@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-color: #e2dcc8;
}

@layer base {
  div {
    color: white;
  }
  h1 {
    color: #e2dcc8;
    font-weight: bold;
  }
  h2 {
    color: #e2dcc8;
  }
  h3 {
    color: #e2dcc8;
  }
  span {
    color: white;
  }
}

@theme {
  --color-brown-white: var(--text-color);
  --color-orange: #b66449;
}

/* @layer utilities {
    .margin {
        padding-left: 82px;
        border-left: 2px;
        border-color: grey;
    }
} */
