@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer base {
  div {
    color: white;
  }
  h1 {
    color: white;
  }
  h2 {
    color: white;
  }
  h3 {
    color: white;
  }
  span {
    color: white;
  }
}

/* @layer utilities {
    .margin {
        padding-left: 82px;
        border-left: 2px;
        border-color: grey;
    }
} */
